<br>
<br>
<h1 text-align=center class="text-danger"> About </h1>


<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/transaction">Transactions</a></li>
    <li><a href="/todo">To Do List</a></li>
  </ul>
  <br>
  <h2 class="text-danger" >Authors: </h2>
  <ul>
    <h4 style="color:rgb(62, 6, 102);">Jaimie Louie</h4>
    <p > Jaimie is a sophomore majoring in Computer Science. </p>
    <img src="jaimie.jpg" alt="Jaimie photo">
    
    <h4 style="color:rgb(62, 6, 102);">Samiyanur Islam</h4>
    <p> Samiya is a sophomore majoring in Computer Science and Business.</p>
    <img src="samiya.jpg" alt="Samiya photo">
    
    <h4 style="color:rgb(62, 6, 102);">Gianna Everette</h4>
    <p> Gianna is a sophomore majoring in Computer Science and minoring in physics. </p>
    <img src="gianna.jpg" alt="Gianna Photo">
    
    <h4 style="color:rgb(62, 6, 102);">Cindy Chi</h4>
    <p> Cindy is a sophomore majoring in Business and minoring in HSSP and Computer Science.</p>
    <img src="cindy.jpg" alt="Cindy Photo">
</body>
