
<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>Productivity APP</h1>
        <h1 text-align= center class="text-danger">Welcome to the App</h1>
        <!-- Here we show how to encode a URI and get weather data -->
        
        <a href="https://weather.com/weather/today"> 
            Get weather</a>
        <br>
        <br>
        <br>
        <br>
    </div>
    <h2 style="color:rgb(62, 6, 102);">Motivation</h2>
    <p>
        <h4 text-align=center class="text-danger">To Do List: </h4>
    
        <p>
        The Todo List app is a convenient tool that enables you to keep track of your tasks, deadlines, and goals in a
        streamlined and organized way. With this app, you can easily create a list of tasks that you need to complete, mark them
        as done when finished, and edit or delete them as needed.One of the best features of this app is its user-friendly interface that allows you to quickly and easily navigate
        through your list of tasks. You can add new tasks by simply typing them in or using voice commands, and you can also
        categorize your tasks based on priority, due date, or any other criteria that you choose.In addition to adding tasks to your list, you can also mark them as completed when you're done, which is a great way to
        keep track of your progress and stay motivated. You can also edit tasks that you've already created, such as changing
        the due date or adding more details to the task description.If you no longer need a particular task on your list, you can easily delete it with just a few taps or clicks. This
        feature is especially handy if you're trying to streamline your task list and focus on the most important items.
    </p>
    </p>
    <p>
        <h4 text-align=center class="text-danger">Transaction: </h4>
        
        Finance Tracker is a powerful and user-friendly expense tracking application built on the popular Express framework and
        backed by the reliable and efficient MongoDB database through Mongoose. With its intuitive interface, users can easily
        add, delete, and edit transactions, and sort them by any column of their choice. The app also features a unique "Group
        By Category" function, allowing users to view a simple table with two columns: one for the category and the other for
        the sum of the amounts for transactions in that category. Whether you're looking to stay on top of your personal
        finances or manage expenses for your business, Finance Tracker is the perfect tool to simplify and streamline the
        process.
    </p>
        


  
    
