<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>Productivity APP</h1>
        <h1 text-align= center class="text-danger">Welcome to the App</h1>
        <!-- Here we show how to encode a URI and get weather data -->
        <br>
        <br>
        <br>
        <br>
    </div>