<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>TextTrove</h1>
        <p text-align = center> 
        <font size = "4">
            Through prompt engineering, generate interesting ideas for your text-based needs!
        </font>  
        </p>
        <!-- Here we show how to encode a URI and get weather data -->
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="center">
        
        <a class="btn btn-danger"
                href="/transaction/groupByCategory">Group by category</a>
        <a class="btn btn-danger"
                href="?sortBy=category">Sort by category</a>
        <a class="btn btn-danger"
                href="?sortBy=amount">Sort by amount</a>
        <a class="btn btn-danger"
                href="?sortBy=description">Sort by description</a>
        <a class="btn btn-danger"
                href="?sortBy=date">Sort by date</a>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/transaction">Transactions</a></li>
    <li><a href="/todo">To Do List</a></li>
  </ul>