<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>TextTrove</h1>
        <p text-align = center> 
        <font size = "4">
            Through prompt engineering, generate interesting ideas for your text-based needs!
        </font>  
        </p>
        <!-- Here we show how to encode a URI and get weather data -->
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="center">
        
        <a class="btn btn-danger"
                href="/poems">Poem maker</a>
        <a class="btn btn-danger"
                href="/summaries">Summary maker</a>
        <a class="btn btn-danger"
                href="spanishTranslations">Spanish Translator</a>
        <a class="btn btn-danger"
                href="synonyms">Get Synonyms</a>