<head>
    <title>GPT Summarization</title>
</head>

<body>
    <h1>GPT Summarization</h1>
    <form action="/gpt" method="POST">
        <label for="text">Enter text to summarize:</label><br>
        <textarea id="text" name="text"></textarea><br>
        <br>
        <input type="submit" value="Summarize">
    </form>

    

</body>

