<!DOCTYPE html>
<html>

<head>
    <title>GPT Synonym Generator</title>
</head>

<body>
    <h1>GPT Synonym Generator</h1>
    <form action="/generate-synonyms" method="POST">
        <label for="word">Enter a word to find synonyms for:</label><br>
        <input type="text" id="word" name="word"><br>
        <br>
        <input type="submit" value="Generate Synonyms">
    </form>
    <% if(synonyms) { %>
        <h2>Synonyms:</h2>
        <p>
            <%= synonyms %>
        </p>
        <% } %>
</body>

</html>
