<head>
    <title>GPT Synonym Generator</title>
</head>

<body>
    <h1>GPT Synonym Generator</h1>
    <form action="/gpt" method="POST">
        <label for="text">Enter a word to find synonyms for:</label><br>
        <textarea id="text" name="text"></textarea><br>
        <br>
        <input type="submit" value="Generate Synonyms">
    </form>
    
</body>